*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  
}

body{
  background-color: rgb(232, 232, 232);
}

.page-container{
  width: 48%;
  margin: auto;

  box-shadow: 1px 1px 60px rgb(155, 155, 155);
  background-color: rgb(244, 244, 244);
}

.apresentation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  width: 32%;
  margin: auto;
}

.text{
  text-align: center;
}

.text h1{
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 3rem;
}

.text div{
  font-size: 1.2rem;
  color: rgb(128, 128, 128);

  margin-bottom: 3rem;
}

.text a{
  text-decoration: none;
  color: rgb(67, 67, 67);
  
  padding: 1rem 3rem;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 30px;
}

.apresentation-image{
  background-image: url(/assets/apresentation-photo.jpg);
  width: 58%;
  height: 100vh;
}

/* ------------  WORK ------------ */

.ourwork{
  text-align: center;

  background-color: rgb(66, 66, 66);
  color: white;

  font-size: 1.3rem;
  font-weight: 300;
 
}
.ourwork div{
  display: inline-block;
  border-right: 1px solid rgb(182, 182, 182);
  border-left: 1px solid rgb(182, 182, 182);
  padding: 0.4rem;
  margin: 0.8rem 0;
}

/* ------------ PHOTO ------------ */

.section{
  text-align: center;
}

.section h2{
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section div{
  margin: 0 2rem;
  padding-bottom: 1.5rem;
  color: rgb(47, 47, 47);
}

.img{
  width: 100%;
}

/* ------------ CONTACT ------------ */

.contact{
  text-align: center;
  color: rgb(59, 59, 59);
}

.contact h3{
  font-size: 3rem;
  

  margin-top: 5rem;
}

.contact div, a{
  margin: 0.6rem 0;
}

.contact a{
  padding-bottom: 5rem;
  text-decoration: none;
  color: rgb(59, 59, 59);
}